// Vars
@import './vars';

// icons
@import './icons';

// Elements
@import './elements/switch';
@import './elements/schedule';
@import './elements/datepicker';
@import './elements/public-holidays';
@import './elements/countries';
@import './elements/field-settings';

.blessings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 15px;
}

.json-generator-error {
  font-weight: bold;
  color: $color-red;
  font-size: 18px;
}