.sp-another-person-delivery {
  input ~ div {
    display: none;
  }

  input:checked ~ div {
    display: block;
  }
}

.woocommerce-shipping-totals.shipping {
  display: none;
}

.ui-datepicker {
  td.ui-state-disabled {
    pointer-events: auto;
  }
}