@import './elements/_checkout';
@import './elements/_blessing';

body[data-layout="local_pickup"] #billing_country_field {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

body[data-layout="local_pickup"] .sp-another-person-delivery {
  display: none;
}

.sp-another-person-delivery {
  margin-bottom: 15px;

  input ~ div {
    display: none;
  }

  input:checked ~ div {
    display: block;
  }
}