@import './elements/_checkout';
@import './elements/_blessing';

body[data-layout="local_pickup"] #billing_country_field {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

body[data-layout="local_pickup"] .sp-another-person-delivery {
  display: none;
}

.sp-another-person-delivery {
  margin-bottom: 15px;

  input ~ div {
    display: none;
  }

  input:checked ~ div {
    display: block;
  }
}

.js-delivery-fields-container.is-loading {
  position: relative;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
  }
}