.sp-countries {
  &-container {
    margin-top: 20px;
    display: flex;
  }

  &-list {
    max-width: 550px;
    min-width: 220px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 4px;

    h4 {
      padding: 0 15px;;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    ul {
      max-height: 400px;
      overflow-y: auto;
      padding: 0 15px;
    }

    li {
      display: flex;
      align-items: center;

      a {
        display: block;
        margin-left: 10px;

        cursor: pointer;
        transition: color $transition-duration ease;

        &:hover {
          color: $color-red;
        }
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      input {
        width: 33%;
      }
    }

    .button {
      display: block;
      margin: 0 auto;
    }
  }
}