.delivery-branch-list {
  width: 100%;
  max-width: 800px;

  margin: 16px 0 0;

  li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.delivery-branch {
  // &.is-disabled {

  // }

  summary {
    & > *:not(:last-child) {
      margin-inline-end: 16px;
    }
  }

  &__remove-btn {
    display: inline-block;
    &:hover {
      color: $color-red;
    }
  }
}