.sp-public-holidays-container {
  display: flex;
  margin-top: 16px;

  #sp-public-holidays,
  .sp-public-holidays {
    margin-left: 20px;
  }
}

#sp-public-holidays,
.sp-public-holidays {
  width: 400px;
  padding: 10px;

  border: 1px solid rgb(234, 234, 234);
  background-color: #fff;
}

.sp-public-holiday {
  height: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;

  background-color: #dddddd;
  border: 1px solid #00000038;
  border-radius: 2px;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &__remove {
    color: #000;
    display: block;
    transition: color $transition-duration ease;

    &:hover {
      color: $color-red;
    }
  }
}